//Band List Style

.block-container {


  .plek-band-item-compact.flex-table-view {
    margin: 0.5em 0;
  }

  .plek-band-item-compact .band-name {
    display: flex;
    flex-direction: column;

    a {
      color: $text-color;
      font-weight: bold;
    }

    .band-genre {
      font-size: 0.8em;
      color: $color-gray-light-two;
    }
  }

  .band-event-count,
  .band-future-event-count,
  .band-follower {
    text-align: right;
    padding-right: 0.5em;

    &::after {
      font-family: "FontAwesome";
      margin-left: 0.5em;
      color: $color-gray-light-two;
    }
  }

  .band-event-count::after {
    content: '\f073';
  }

  .band-future-event-count::after {
    content: '\f271';
  }

  .band-follower::after {
    content: '\f0c0';
  }


}

/* Band List*/
#container-head {

  div {
    color: $text-color;
    background-color: $color-gray-light;
    padding: 0.3em 0;
    text-align: left;
    display: flex;
    align-items: center;

    &:hover {
      color: $text-color;
      background-color: $color-gray-light-two;
    }

    a {
      color: $text-color;
      font-weight: bold;
      text-align: center;
      padding: 0 1.5em;
      width: 100%;
      display: inline-block;
      font-size: 0.85em;
    }
  }

  div.sort-selected.ASC::before,
  div.sort-selected.DESC::before {
    font-family: "FontAwesome";
    position: absolute;
    margin-left: 0.2em;
    font-size: 1.5em;
  }

  div.sort-selected.ASC::before {
    content: '\f0de';
    margin-top: 0.3em;
  }

  div.sort-selected.DESC::before {
    content: '\f0dd';
    margin-top: -0.46em;
  }

}

/* Spotify band suggestions */
.spotify_suggestions_container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;

  .spotify-artist-found-item {
    display: flex;
    gap: 1%;
    align-items: center;
    margin-bottom: 1em;
    flex-direction: column;
    max-width: 250px;
    width: 22%;

    .spotify-artist-image {
      min-height: 150px;
      height: 100%;
    }

    .spotify-artist-data {
      height: 100%;
      word-break: break-all;
    }

    img {
      max-width: 150px;
      max-height: 150px;
      object-fit: fill;
    }

    button {
      flex-basis: 30%;
      max-height: 3em;
    }
  }

  @media screen and (max-width: 750px) {
    .spotify-artist-found-item {
      width: 46%;
    }
  }


}

/* Bands of the month */
.botm-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1vw;
  margin: 2em auto;

  .botm-item {
    flex-basis: 25vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .botm-rank {
    text-align: center;
    font-size: 2.5em;
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
    aspect-ratio: 1;
    clip-path: polygon(100.00% 50.00%, 93.40% 57.24%, 97.29% 66.23%, 88.70% 70.94%, 89.46% 80.71%, 79.80% 82.37%, 77.35% 91.86%, 67.67% 90.29%, 62.27% 98.47%, 53.63% 93.85%, 45.87% 99.83%, 39.20% 92.65%, 29.92% 95.79%, 25.93% 86.84%, 16.14% 86.79%, 15.28% 77.03%, 6.03% 73.80%, 8.38% 64.29%, 0.68% 58.23%, 6.00% 50.00%, 0.68% 41.77%, 8.38% 35.71%, 6.03% 26.20%, 15.28% 22.97%, 16.14% 13.21%, 25.93% 13.16%, 29.92% 4.21%, 39.20% 7.35%, 45.87% 0.17%, 53.63% 6.15%, 62.27% 1.53%, 67.67% 9.71%, 77.35% 8.14%, 79.80% 17.63%, 89.46% 19.29%, 88.70% 29.06%, 97.29% 33.77%, 93.40% 42.76%);

    &.rank-1 {
      background: #a28908;
    }

    &.rank-2 {
      background: #888;
    }

    &.rank-3 {
      background: #936b15;
    }

    &.rank-4 {
      background: $color-red-light;
    }
  }

  .botm-name {
    font-size: 1.2em;
    color: $color-red;
  }

  .botm-image {
    min-height: 14em;

    a {
      display: flex;
      height: 100%;
    }

    img {
      object-fit: scale-down;
    }
  }
}

.botm-list-container {
  .botm-list-item {
    display: flex;
    gap: 1em;
    margin: 0.5em 0;

    & > div{
      padding-top: 0.3em;
    }

    .botm-rank {
      min-width: 2em;
      width: 2em;
      height: 2em;
      font-weight: bold;
      clip-path: polygon(100.00% 50.00%, 93.40% 57.24%, 97.29% 66.23%, 88.70% 70.94%, 89.46% 80.71%, 79.80% 82.37%, 77.35% 91.86%, 67.67% 90.29%, 62.27% 98.47%, 53.63% 93.85%, 45.87% 99.83%, 39.20% 92.65%, 29.92% 95.79%, 25.93% 86.84%, 16.14% 86.79%, 15.28% 77.03%, 6.03% 73.80%, 8.38% 64.29%, 0.68% 58.23%, 6.00% 50.00%, 0.68% 41.77%, 8.38% 35.71%, 6.03% 26.20%, 15.28% 22.97%, 16.14% 13.21%, 25.93% 13.16%, 29.92% 4.21%, 39.20% 7.35%, 45.87% 0.17%, 53.63% 6.15%, 62.27% 1.53%, 67.67% 9.71%, 77.35% 8.14%, 79.80% 17.63%, 89.46% 19.29%, 88.70% 29.06%, 97.29% 33.77%, 93.40% 42.76%);
      text-align: center;

      &.rank-1 {
        background: #a28908;
      }
  
      &.rank-2 {
        background: #888;
      }
  
      &.rank-3 {
        background: #936b15;
      }
    }


  }
}

@media (max-width: 599px) {
  .botm-container {
    justify-content: space-between;
    flex-wrap: wrap;

    .botm-item {
      flex-basis: 48%;
    }
  }

}

@media (max-width: 400px) {
  .botm-container {
    justify-content: space-between;
    flex-wrap: wrap;

    .botm-image {
      min-height: unset;
    }

    .botm-item {
      flex-basis: 100%;
      margin-bottom: 2em;
    }
  }
}

@media (min-width: 889px) and (max-width: 1200px) {
  .home .botm-container {
    margin-top: 4em;
  }
}