//Band List Style

.block-container {


  .plek-band-item-compact.flex-table-view {
    margin: 0.5em 0;
  }

  .plek-band-item-compact .band-name {
    display: flex;
    flex-direction: column;

    a {
      color: $text-color;
      font-weight: bold;
    }

    .band-genre {
      font-size: 0.8em;
      color: $color-gray-light-two;
    }
  }

  .band-event-count,
  .band-future-event-count,
  .band-follower {
    text-align: right;
    padding-right: 0.5em;

    &::after {
      font-family: "FontAwesome";
      margin-left: 0.5em;
      color: $color-gray-light-two;
    }
  }

  .band-event-count::after {
    content: '\f073';
  }

  .band-future-event-count::after {
    content: '\f271';
  }

  .band-follower::after {
    content: '\f0c0';
  }


}

/* Band List*/
#container-head {

  div {
    color: $text-color;
    background-color: $color-gray-light;
    padding: 0.3em 0;
    text-align: left;
    display: flex;
    align-items: center;

    &:hover {
      color: $text-color;
      background-color: $color-gray-light-two;
    }

    a {
      color: $text-color;
      font-weight: bold;
      text-align: center;
      padding: 0 1.5em;
      width: 100%;
      display: inline-block;
      font-size: 0.85em;
    }
  }

  div.sort-selected.ASC::before,
  div.sort-selected.DESC::before {
    font-family: "FontAwesome";
    position: absolute;
    margin-left: 0.2em;
    font-size: 1.5em;
  }

  div.sort-selected.ASC::before {
    content: '\f0de';
    margin-top: 0.3em;
  }

  div.sort-selected.DESC::before {
    content: '\f0dd';
    margin-top: -0.46em;
  }

}

/* Spotify band suggestions */
.spotify_suggestions_container {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;

  .spotify-artist-found-item {
    display: flex;
    gap: 1%;
    align-items: center;
    margin-bottom: 1em;
    flex-direction: column;
    max-width: 250px;
    width: 22%;

    .spotify-artist-image {
      min-height: 150px;
      height: 100%;
    }

    .spotify-artist-data {
      height: 100%;
      word-break: break-all;
    }

    img {
      max-width: 150px;
      max-height: 150px;
      object-fit: fill;
    }

    button {
      flex-basis: 30%;
      max-height: 3em;
    }
  }

  @media screen and (max-width: 750px) {
    .spotify-artist-found-item {
      width: 46%;
    }
  }


}