//Colors

//Set Color Variables
$color-gray:#424242;
$color-gray-dark:#232323;
$color-gray-light:#595959;
$color-gray-light-two:#ffffffb6;
$color-gray-form-input:#666666;

$color-red: #D9042B;
$color-red-strong: #c11d1d;
$color-red-light: #8C262E; //Button color
$color-red-gray: #3F2931;
$color-red-dark: #40030E;
$color-red-light-two: #e6c2c2;
$color-yellow: #FAAD2B;
$color-blue: #6278d9;
$color-green: #268c37;
$featured-color : $color-yellow;

//Fonts
$text-color: white;
$text-color-black: black;
$link-color: $color-red;
$link-color-hover: $color-gray-light;

$red-small-border: solid 2px $color-red-light;
