//Colors

//Set Color Variables
$color-gray:#424242;
$color-gray-dark:#232323;
$color-gray-light:#595959;
$color-gray-light-two:#ffffffb6;

$color-red: #D9042B;
$color-red-light: #8C262E;
$color-red-gray: #3F2931;
$color-red-dark: #40030E;
$color-yellow: #FAAD2B;
$featured-color : $color-yellow;

//Fonts
$text-color: white;
$link-color: $color-red-light;
$link-color-hover: $color-gray-light;

$red-small-border: solid 2px $color-red-light;
