//Elements Style

#tribe-events-pg-template .tribe-events-calendar-list__month-separator{
  background-color: unset;
  border-bottom: $red-small-border;
}

.tribe-events-calendar-list__month-separator{
  width: 16%;
  padding: 0 !important;
  font-size: 1.8em;


  &::before{
    //content: "cube";
    //position: absolute;
  }
  
  & time{
    width: 100%;
    text-align: center;
    overflow: hidden;
    
    &:before{
      //content:"test";
      //position: absolute;
    }

  }


}

/* Buttons */
button {

  html input[type="button"], 
  input[type="reset"],
  input[type="submit"],
  a.button,
  a.wp-block-button__link:not(.has-background){
    background-color: $color-red-light;
  }
}

.wp-block-buttons{
  a,
  a.wp-block-button__link:not(.has-background){
    border-radius: 0;
    background-color: $color-red-light;

  }
}

.plek-button{
  width: 100%;
  background-color: $color-red-light;
  text-align: center;
  color: $text-color;
  padding: 0.5em;
  background-color: #8C262E;
  margin: 0.3em 0;
  display: block;
  color: $text-color;
  cursor: pointer;

  &:visited{
    color: $text-color;
  }

  &:hover,
  &:focus{
    color: $text-color-black;
  }

  &.blue{
    background-color: $color-blue;
  }
  &.green{
    background-color: $color-green;
  }
  &.disabeled{
    background-color: $color-gray;
    color: $color-gray-light-two;
    cursor: default;
  }
  &.deactivate{
    cursor: default;
    &:hover{
      color: unset;
    }
  }

}

/* Button Animation*/
/* Loader */
.plek-button.loader {
    position: relative;
    //overflow:hidden;
    //transition: .3s;
    &:after {
      position: absolute;
      content: '';
      width: 0;
      left: 0;
      bottom: 0;
      height: 2px;
      background: $text-color;
      animation-name: plek-button-loader;
      animation-duration: 2s;
      animation-iteration-count: infinite;
    }
  }

  @keyframes plek-button-loader {
    /*0% {width: 0%; left: 0;}
    25% {width: 100%; left: 0;}
    50% {width: 0%; left: 100%;}
    75% {width: 0%}
    100% {width: 0%}*/
    0% {width: 0%; left: 0;}
    50% {width: 100%; left: 0;}
    100% {width: 0%; left: 100%;}
  }



/* Title */

.info-text-bar{
  padding: 0;
  margin-bottom: 2em;
  text-align: center;
  border-bottom: $red-small-border;
  font-size: 1.8em;
  width: 27%;

  .bar-front{
    /*padding-left: 5%;*/
  }

  .bar-back{
    /*display: block;
    height: 2em;
    width: 2em;
    background: red;
    position: relative;
    right: -102%;
    top: -2em;*/
  }

  .bar-back-two{

  }
}

.info-text-line{
  font-size: 1em;
  width: 11em;
  margin-bottom: 1em;
  
  div{
    text-align: right;
  }

  .line2{
    font-size: 1.5em;
  }
}

blockquote{
  font-size: 1em;
  border-left: 2px solid $color-gray-light;
}
.info-text-banner{
  
  display: flex;
  justify-content: flex-end;

  .banner-bg{
    border-top: #8C262E solid 30px;
    border-right: solid transparent 30px;
    border-left: solid transparent 30px;
    width: 216px;
    display: block;
    position: relative;
    right: -43px;
    bottom: 89px;
    transform: rotate(-45deg);
  }
  
  .banner-text{
    display: block;
    position: relative;
    right: -235px;
    bottom: 85px;
    transform: rotate(-45deg);
    z-index: 99;
    text-transform: uppercase;
    width: 170px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.yotu-videos .yotu-video h3.yotu-video-title{
  color:$text-color;
}
.yotu-playlist .yotu-pagination a::after{
  color:$text-color;
}

.event-icons,
.event-akkredi-status{

  & span:before{
    font-family: "FontAwesome";
  }
  & span.aa:before{
    content: '\f059';
    color: $color-gray-light-two;
  }
  & span.ab:before{
    content: '\f058';
    color: $color-green;
  }
  & span.aw:before{
    content: '\f06a';
    color: $color-blue;
  }
  & span.no:before{
    content: '\f057';
    color: $color-red;
  }
}

.plek-message,
.tribe-events-calendar-list__event .plek-message{
  font-size: 1.3em;
  padding: 0.5em;
  border: 1px solid $text-color;
  text-align: center;
  margin-bottom: 1em;

  &.red{
    color: $color-red-light;
    border-color: $color-red-light;
  }
}
