//Single Event Style

.single-tribe_events{

   #page{
     padding: 0 1em;
   }

  #tribe-events-pg-template{
    max-width: 100%;
  }
  #event-container{
     display:flex;
    flex-direction: row;
     .event-content,
     .event-meta{
      flex-direction: column;
     }
  
     .event-links-container{
  
      img{
        max-width: 4em;
        max-height: 2em;
      }
     }
  }

  .event-description,
  .event-video-container{
    overflow: hidden;
  }

  .plek-expand-shorten-text{
    text-align: center;
    margin-bottom: 1em;
    color: $color-gray-light-two;
    cursor: pointer;
    padding: 1em;

    &::before{
      font-family: "FontAwesome";
      content: '\f063';
      margin-right: 0.4em;
    }

    &.arrow-up:before{
      content: '\f062';
    }
  }

  .event-akkredi-container{

    dt{
      margin-top: 0.5em;
    }
    
    dd{
      margin: 0 0 0 1.5em;
    }
  }

}

.event-author-container{
  .author{
    display: flex;
  }
  .author span{
    align-self: center;
  }
  .author span:first-child{
    padding-right: 0.8em;
  }
}

/*Revision Container*/
#revloader{

  position: absolute;
  width: 100%;
  z-index: 101;
  background-color: $color-gray-dark;

  .container{
    background-color: $color-gray-light;
    margin: 2em auto;
    width: 90%;
    max-width: 888px;
  }

  #revloader_title,
  #revloader_close
   {
    margin: 0.5em;
    font-size: 1.4em;
  }

  .bandDetails{
    display: none;
  }

  .content_header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  #revloader_close{
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
   
    &::before{
      font-family: "FontAwesome";
      content: '\f00d';
    }
  }

  table{

    tr td:first-child{
      writing-mode: sideways-lr;
    }

    td{
      word-break: break-word;

      &:nth-child(2){
        width: 46%;
      }
      max-width: 46%;

      a{
        color: $color-yellow;
      }
      a.apply_all_changes{
        color: $text-color;
      }
    }
  }

  .plek_overlay_btn{
    position: absolute;
    min-width: 100px;
    max-width: 250px;
    width: 20%;

    div{
        float: left;
        text-align: center;
        cursor: pointer;
        font-size: 1em;
        font-family: "FontAwesome";
    }
    #change_ok:before,
    #change_ignore:before{
        padding: 0.5em;
        width: 2em;
        height: 2em;
        color: white;
        
    }

    #change_ok:before{
        content: "\f00c";
        background-color: #54770f;
        border: 1px solid #00571a;
    }
    #change_ignore:before{
        content: "\f00d";
        background-color: red;
        border: 1px solid #840000;
        padding: 0.5em 0.7em;
    }
  }

   #field-categories{
      dt{
        display: none;
      }
      dd{
        margin:0;
      }
   }


} //#revloader
