//General Event Style

.band{
  img{
    vertical-align: sub;
    width: 19px;
  }
}

/* Hide disabled button */
.tribe-events-c-nav__list-item.tribe-events-c-nav__list-item--next,
.tribe-events-c-nav__list-item.tribe-events-c-nav__list-item--prev{

  button:disabled,
  button[disabled]{
    display: none;
  }

}
