//Single Event Style

.single-tribe_events{

   #page{
     padding: 0 1em;
   }

  #tribe-events-pg-template{
    max-width: 100%;
  }
  #event-container{
     display:flex;
    flex-direction: row;
     .event-content,
     .event-meta{
      flex-direction: column;
     }
  
     .event-links-container{
  
      img{
        max-width: 4em;
        max-height: 2em;
      }
     }
  }

  .event-description,
  .event-video-container{
    overflow: hidden;
  }

  .plek-expand-shorten-text{
    text-align: center;
    margin-bottom: 1em;
    color: $color-gray-light-two;
    cursor: pointer;
    padding: 1em;

    &::before{
      font-family: "FontAwesome";
      content: '\f063';
      margin-right: 0.4em;
    }

    &.arrow-up:before{
      content: '\f062';
    }
  }

  .event-akkredi-container{

    dt{
      margin-top: 0.5em;
    }
    
    dd{
      margin: 0 0 0 1.5em;
    }
  }
}


