//Footer Style

.site-footer,
.footer-widgets,
.footer-widgets .widget-title,
footer.site-info{
  background-color: $color-gray-dark;
  color: $text-color;
  margin-bottom: 0;

  .wp-block-search .wp-block-search__button{
    margin-left: 0;
    border:none;
  }
  .wp-block-search__input{
    border:none;
  }
}

#menu-social-links-menue{
  display: flex;
  justify-content: space-evenly;

  li{
    margin: 0.5vw;
  }
  
  a{
    color: $text-color;
    font-size: 2em;
  }
}

.footer-widgets-container.grid-container {
  padding-bottom: 0px;
}

.footer-widget-3{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;

  aside{
    align-self: flex-end;
    width: 100%;
  }

  .wp-block-search__label{
    display: none;
  }
}