//Form Styles

//Default Form Styles
form{
  .plek-field-error{
    color: $color-red;
    display: block;
  }
}

div.plek-review-search{
  margin-bottom: 1em;

  form{
    display: flex;
    flex-direction: row;
    justify-content: stretch;
  }

  form label{
    width: 20%;
  }
  form label:first-child{
    width: 80%;
  }
  form button,
  form input{
    width: 100%;
  }
}

.login-form,
.reset-password{

  p{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
  }
}

/* Add Event */

.plek-event-form-container,
.submit.plek-button{
  margin-left: 20%;
  }

 .plek-event-form-container{
  .plek-field-error{
    padding: 0.5em 0;
  }
 }

.event-basic-container {

  .event-name-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }

  .event-date-container label{
    width: 100%;
  }
  .event-date-picker{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .date-input-container{
      flex-basis: 45%;

      input{
        width: 100%;
      }
    }
    .date-to-seperator{
      flex-basis: 10%;
      text-align: center;
      align-self: center;
    }
  }
  .plek-multi-date{
    display: inline;
  }

}

.event-search-bar-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

    input{
      flex-basis: 100%;
    }
}

.submit.plek-button input{
  width: 100%;
}
.plek-search-overlay{
  position: absolute;
  background-color: $color-gray-light;
  width: 72%;
  max-width: 755px;
  z-index: 9999;
}

#event-organizer-proposal,
.plek-search-overlay{
  .item{
    padding: 1em;

    &:hover,
    &:focus{
      background-color: $color-gray;
      cursor: pointer;
    }
  }

.overlay-header{
    text-align: center;
  }
  img{
    max-height: 1em;
  }
  .title{
    font-size: 1.1em;
    font-weight: bold;
  }
  .subtitle{
    padding-left: 2em;
  }

}

#event-organizer-proposal{

  .event-organizer-proposal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $featured-color;

    .title::before{
      font-family: "FontAwesome";
      content: "\f0e8";
      padding-right: 0.5em;
    }

    .subtitle{
      display: none;
    }
  }

}

#event-organizer-selection{
  .organi-apply-proposal-btn{
    display: none;
  }
}

.overlay_background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:0;
  z-index: 0;
}

.item.plek-select-item .title{
  display: flex;
  
  img{
    max-height: 1em;
    margin-right: 1em;
  }
  .remove-item{
    margin-right: 1em;
  }
  i{
    cursor: pointer;
    font-size: 1.2em;
  }
}
.item.plek-add-item .subtitle,
.item.plek-select-item .subtitle{
  .country{
    display: block;
  }
}


/* Add Event Form Login*/

#plek-event-guest-login-form-container {
	display: flex;
	justify-content: space-between;
  margin: 1em 0;
  gap: 1em;

  .event-name-container,
  .event-email-container {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }
}

#plek-event-member-login-form-container{
  .login-submit{
    display: none;
  }
}

#plek-event-member-login-form-container,
#plek-event-guest-login-form-container{
  margin: 0px 10%;
}

#select-login-type {
	display: flex;
	gap: 1em;
}

/* Register User*/

#register-new-user-form .submit.plek-button{
  width: 100%;
  margin-left: 0;
  }

/* User Settings form, Band form*/
.band-edit-container{
  width: 100%;
}

.plek-form{
  margin-left: 2%;
  width: 96%;

  h2{
    margin-left: -1em;
    margin-top: 1em;
  }

  .plek-hidden{
    display: none;
  }

  input:not([type="checkbox"]),
  textarea,
  select{
    width: 100%;
    margin-bottom: 0.5em;
  }
  label{
    width: 100%;
    display: block;
    padding-top: 0.5em;
  }

  button.plek-button{
    width: 24%;
    white-space: normal;
  }
  
  button.plek-button.selected,
  a.plek-button.selected{
    background-color: $color-gray-light;
  }

  
  button.plek-button.full-width{
    width: 100%;
  }


  #user-settings-submit{
    background-color: $color-red-light;
  }
  .plek-button-cancel{
    background-color: $color-gray;
    color: $text-color;

    &:hover{
      color: $color-red-light-two;
    }
  }

  .buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.3%;
  }

  /*Band Form*/
  #band-basic-infos{
    img{
      max-width: 200px;
    }
  }
  .band-edit-container{
    width: 100%;
    flex: 1;
  }

  #band-videos{
    display: none;
  }

  #add-band-video{
    width: 35%;
  }

  #band-genre-loader{
    display: flex;


  }
}

//File Upload Button
.plek-image-upload-container{
  display: flex;
  gap: 1em;

  .upload-button{
    margin-top: 2em;
    position: relative;
  }

  .plek-button{
    margin-top: -2em !important;
  }

  .upload-image{
    max-width: 200px;
    max-height: 300px;
    overflow: hidden;
  }

  input{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 0;
    margin-top: -2em;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
  }
}


//Add/Edit Event form

.plek-form{
  .wp-editor-container{
    border: 0px;
  }
}

.event-basic-container .event-date-picker .date-input-container{

  flex-basis: 100%;

  input{
    text-align: center;
  }
}

.event-band-none-checkbox,
.event-date-multi-check-container{
  padding-top: 0.7em;
}

.item.plek-select-item {
	padding: 0.7em 0;
}

.event-price-container {
	display: flex;
	gap: 1em;

  .price-box{
    display: flex;
    flex-wrap: wrap;

    select{
      flex-basis: 60%;
      text-align: center;
      flex: 1 0 0;
    }
    input{
      flex: 1 0 50%;
    }

    .plek-field-error{
      flex-basis: 100%;
    }
  }


}

