/* Gallery Styles*/

.plek_album_con{
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    flex-wrap: wrap;

    .image_container{
        width: 49%;
        min-width: 200px;
    }
}
.image_link_wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;

    a{
        color: $text-color;
    }

    picture {
        max-height: 31vw;
        display: block;
        overflow: hidden;
    }
}
.gallery-image-container{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    flex-wrap: wrap;

    .gallery-image-item{
        position: relative;
        flex-basis: 23%;
    }
    .gallery-image-item .remove-image{
        position: absolute;
        right: 5px;
        top: 0px;
        font-size: 2em;
        color: red;
        cursor: pointer;
    }
}
