//Selectors Style

a{

  transition: none;
  cursor: url("../plekvetica/assets/metalhand.cur"), pointer;
  
  &:hover,
  &:focus{
    color: $color-red-light;
  }
}

button{
  cursor: url("../plekvetica/assets/metalhand.cur"), pointer;
}